include examples/*.py
include COPYING
include COPYING.LESSER
exclude ANN.txt
exclude index.txt
exclude docs/*.txt
exclude conf.py
exclude MANIFEST.in
exclude setup.cfg
exclude *.bat
exclude dist/*.*
exclude src/try.py

