include doc/*.*
include examples/*.py
exclude ANN.txt
exclude PLAN.txt
exclude MANIFEST.in
exclude *.bat
exclude dist/*.*
exclude restserver/*.*
exclude src/try.py
exclude src/_old/*.*
exclude src/*/_old/*.*
exclude src/_todo/*.*
exclude src/*/_todo/*.*
include showdocs.bat
