@charset "utf-8";
/* $Id$ */

* {
	padding: 0;
	margin: 0;
	}
body {
	font: normal 100%/1.3 Arial, sans-serif;
	color: #000;
	background-color: #f5f3ee;
	padding: 1em 5%;
	}
.document {
	max-width: 770px;
	}
	.section>* {
		margin-left: 7px
		}
	.section>h1, .section>h2, .section>h3 {
		margin-left: 0
		}
h1, h2, h3, h4, dt {
	color: #a00;
	font-weight: normal;
	margin: 1em 0 0.2em;
	}
	h1.title, h2.subtitle {
		text-align: center;
		font-size: 2em;
		margin: 0;
		}
	h2.subtitle {
		margin: 0 0 1em;
		}
	h1, h2.subtitle {
		font-size: 1.6em;
		}
	h2, h3, h4 {
		font-size: 1.3em;
		}
	h1, h2.subtitle, h2 {
		padding: 0.1em 7px;
		background-color: #fff;
		}
	h2, h3, h4 {
		margin-top: 2em;
		margin-bottom: 1em;
		}
	h3 {
		padding-left: 7px;
		border-right: 1.4em solid #fff;
		border-bottom: 2px dotted #fff;
		}
	h4 {
		text-indent: -7px;
		}

p, ul, ol, dl, pre, table {	
	margin-bottom: 0.9em;
	}
ul {
	list-style-type: square;
	}
	dt {
		font-weight: bold;
		margin-top: 1.5em;
		}
		dd dt {
			margin-top: 0;
			}
	li, dd {
		margin-left: 1.8em;
		margin-bottom: 0.2em;
		}
		li p {
			margin-bottom: 0.5em;
			}
	li:hover, dd:hover {
		background-color: #f9f7f2;		
		}
		li li:hover, dd li:hover {
			background-color: #fbfaf5;		
			}
			li li li:hover, dd li li:hover {
				background-color: #f9f7f2;		
				}
table {
	width: 100%;
	}
.docinfo-name {
	min-width: 30%;
	}
	th {
		text-align: left;
		}
	.field-name {
		width: 20%;
	}
code, pre, tt, .pre {
	font-family: "Consolas", "Lucida Console", monospace;	
	color: #00b;
	}
pre {
	background-color: #f6f6f0;
	overflow: auto;
	padding: 5px;
	}
a {	
	color: #711;
	}
a[href^="http"].external {
	color: #a00;
	}
a[href^="http"].external:before {
	content: "□ ";
	}
a[href] {
	text-decoration: none;
	border-bottom: 1px dotted;	
	}
	h1 a[href] ,h2 a[href], h3 a[href] {
		border-bottom: 0;
		}
	a:visited {
		color: #344;
		}
	a[href]:hover, a[href]:focus {
		text-decoration: underline;
		}

/* reStructuredText */
.system-message {
	font-weight: bold;
	color: #f00;
	padding: 0 1em;
	border: 3px double;
	}
